/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* Header Styles */
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

/* Main Content Styles */
main {
  padding: 20px;
}

/* Added styles for 3D image centering */
#threeD-pipeline-container {
  background-color: transparent;
  width: 50%;  /* Adjusted size */
  height: 50%;  /* Adjusted size */
}

/* Footer Styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}
